@import "tailwindcss";
@plugin "daisyui" {
  themes: "light" --default, "forest";
}

@font-face {
  font-family: "Cooper-Black";
  src: url("./assets/fonts/Cooper-Black-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.font-cooper {
  font-family: "Cooper-Black", sans-serif;
}
